body{
    background-color: rgb(147, 164, 111);
}

main{
    display: flex;
    width: 50%;
    margin: 5% 25%;
}

h1{
    text-align: center;
    
}

p{
    text-align: center;
    margin: 25px;
}

button{
    background-color:rgb(144, 183, 129) ;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#start-quiz{
    margin: 0 40%;
}

#quiz-container{
    display: none;
}

button:hover{
    background-color: rgb(197, 205, 120);
}

input{
    background-color:rgb(181, 206, 125);
}

